image: alpine:latest

stages:
  - docker_image
  - publish_to_test
  - production

publish_chart_to_test_repo:
  stage: publish_to_test
  image: $CI_TOOLS_IMAGE
  script:
    - publish_chart tst
  only:
    refs:
      - branches
  except:
    refs:
      - tags
    variables:
      - $DISABLED_PUBLISH

publish_chart_to_prod_repo:
  stage: production
  image: $CI_TOOLS_IMAGE
  script:
    - publish_chart prd
  only:
    refs:
      - master
  except:
      variables:
        - $DISABLED_PUBLISH

# ---------------------------------------------------------------------------

.auto_devops: &auto_devops |
  [[ "$TRACE" ]] && set -x
  [[ "$DEBUG_SLEEP" ]] && sleep $DEBUG_SLEEP
  source /ci-utils.sh || true

before_script:
  - *auto_devops
